:root {
  --white: #ffffff;
  --black: #000000;
	--primary: #F00;
	--dark-gray: #585858;
	--text: #42454A;
	--text2: #555;
	--background: #F7F7F7;
	--border: #D8D8D8;
	--admin-background: #F7F8FA;
	--table-text: #637083;
}